@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #737285;
  --black100: #171717;
  --black200: #696A6A;
  --black300: #0A0A0A;
  --black500: #1E2022;
  --black600: #162029;
  --champ-blue: #151433;
  --titan-white: #F1EDFF;
  --titan-white100: #F8F6FF;
  --titan-white200: #F7F8FA;
  --titan-white300: #FCFCFC;
  --titan-white400: #CCCCE9;
  --titan-white500: #F5F5F5;
  --titan-white600: #F1F1F1;
  --titan-white700: #DFE5F3;
  --salomie: #FFD88D;
  --orange: #FF6B46;
  --purple: #7350FF;
  --gray100: #E3E1E1;
  --gray200: #CACFD8;
  --gray300: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-black100: var(--black100);
  --color-black200: var(--black200);
  --color-black300: var(--black300);
  --color-black500: var(--black500);
  --color-black600: var(--black600);
  --color-champ-blue: var(--champ-blue);
  --color-titan-white: var(--titan-white);
  --color-titan-white100: var(--titan-white100);
  --color-titan-white200: var(--titan-white200);
  --color-titan-white300: var(--titan-white300);
  --color-titan-white400: var(--titan-white400);
  --color-titan-white500: var(--titan-white500);
  --color-titan-white600: var(--titan-white600);
  --color-titan-white700: var(--titan-white700);
  --color-salomie: var(--salomie);
  --color-orange: var(--orange);
  --color-purple: var(--purple);
  --color-gray100: var(--gray100);
  --color-gray200: var(--gray200);
  --color-gray300: var(--gray300);
  --font-inter: var(--font-inter);
  --font-geist: var(--font-geist);

  /* Updated fonts */
  /* --font-sans: var(--font-inter); */
  --font-body: var(--font-inter);


  /* Custom breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-xxl: 1440px;

  /*  Custom font size */
  --text-11: 11px;
  --text-13: 13px;
  --text-14: 14px;
  --text-40: 40px;
  --text-58: 58px;
  --text-62: 62px;

  --radius-18: 18px;
  --radius-20: 20px;
  --radius-50: 50px;
  --radius-58: 58px;
  --radius-80: 80px;

  --border-5: 5px;
}

@utility container {
  margin-inline: auto;
  padding-inline: 16px;
  max-width: 100%;

  @media (width >=480px) {
    max-width: 100%;
  }

  @media (width >=640px) {
    max-width: 100%;
  }

  @media (width >=768px) {
    max-width: 720px;

  }

  @media (width >=1024px) {
    max-width: 1024px;

  }

  @media (width >=1280px) {
    max-width: 1200px;
  }

  @media (width >=1440px) {
    max-width: 1332px;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  @apply font-inter font-normal text-base md:text-lg leading-[160%]!;
}

b,
strong {
  font-weight: 600 !important;
}

figure {
  margin: 0;
}

a {
	transition: all ease-in-out 300ms;
	-webkit-transition: all ease-in-out 300ms;
	-ms-transition: all ease-in-out 300ms;
	-o-transition: all ease-in-out 300ms;
	-moz-transition: all ease-in-out 300ms;
}

p {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
  @apply -tracking-[1%] lg:-tracking-[1.5%]
}

ol li,
ul li {
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
	line-height: inherit;
	color: inherit;
}

.small-paragraph {
  @apply text-14 md:text-base leading-tight;
}

/* main-title */
.main-title {
  @apply font-inter font-medium text-champ-blue text-3xl md:text-4xl lg:text-5xl xl:text-62 leading-tight md:leading-[110%] tracking-[-1px] xl:tracking-[-2px] xxl:tracking-[-3px];
}

.main-title * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
/* main-title */

/* section-title */
.section-title {
  @apply font-inter font-medium text-champ-blue text-3xl md:text-4xl xl:text-5xl leading-tight tracking-[-1px] xl:tracking-[-2px] xxl:tracking-[-3px];
}

.section-title * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
/* section-title */

/* block-title */
.block-title {
  @apply font-inter font-medium text-champ-blue text-2xl md:text-3xl xl:text-4xl leading-tight tracking-[-1px] xl:tracking-[-2px] xxl:tracking-[-3px];
}

.block-title * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  margin-top: 0;
  margin-bottom: 0;
}
/* block-title */

/* buttons */
.btn {
  cursor: pointer;
  text-decoration: none;
  @apply inline-flex items-center font-inter text-base leading-snug border border-transparent rounded-[100px] py-2 px-5 lg:py-3 lg:px-6 shadow-none gap-2.5;
}

.btn.btn-large {
  @apply py-2 lg:py-3.5
}

.btn.btn-with-arrow {
  @apply relative after:relative after:content-[''] after:w-4.5 after:h-3 after:bg-[url('/images/btn-arrow-white.svg')] after:bg-no-repeat after:[length:100%_100%];
}

.btn.btn-rounded-xl {
  @apply rounded-xl;
}

.btn-white {
  @apply text-black100 bg-white border-white hover:text-white hover:bg-orange hover:border-orange;
}

.btn-orange {
  @apply text-white bg-orange border-orange hover:bg-purple hover:border-purple;
}

.btn-purple {
  @apply text-white bg-purple border-purple hover:bg-orange hover:border-orange;
}
/* section-title */

/* custom-checkmark-list */
.custom-checkmark-list {
  @apply font-medium;
}

.custom-checkmark-list ul {
  @apply block list-none space-y-4 p-0 m-0;
}

.custom-checkmark-list ul li {
  @apply relative block list-none pl-7 md:pl-9 before:absolute before:content-[''] before:left-0 before:top-0.5 md:before:top-1 before:w-5 before:h-5;
}

.custom-checkmark-list.purple-checkmark ul li {
  @apply before:bg-[url('/images/chekmark-circle-purple.svg')] before:bg-no-repeat before:bg-[length:100%_100%];
}

.custom-checkmark-list.orange-checkmark ul li {
  @apply before:bg-[url('/images/chekmark-circle-orange.svg')] before:bg-no-repeat before:bg-[length:100%_100%];
}

.custom-checkmark-list.simple-blue-checkmark ul li {
  @apply before:bg-[url('/images/chekmark-circle-simple-blue.svg')] before:bg-no-repeat before:bg-[length:100%_100%];
}
/* custom-checkmark-list */

/* future-employees-carousel */
.future-employees-carousel {
  opacity: 0;
  position: unset !important;
}

.future-employees-carousel.slick-initialized {
  opacity: 1;
}

.future-employees-carousel .slick-arrow.slick-disabled {
  cursor: default !important;
  color: var(--titan-white400) !important;
  border-color: var(--titan-white400) !important;
  background: transparent !important;
}

.future-employees-carousel .slick-dots {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 2px;
  padding-left: 50px;
  padding-right: 50px;
  z-index: 99;
  max-width: 1300px;
  margin: 0 auto 0 0;
}

.future-employees-carousel .slick-dots li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 7px 3px;
  /* width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%; */
}

/* .future-employees-carousel .slick-dots li:before {
  position: relative;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid var(--titan-white400);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */

.future-employees-carousel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.future-employees-carousel .slick-dots li button:before {
  position: relative;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid var(--titan-white400);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* .future-employees-carousel .slick-dots li.slick-active, */
.future-employees-carousel .slick-dots li.slick-active button {
  border-color: var(--purple);
}

/* .future-employees-carousel .slick-dots li.slick-active:before, */
.future-employees-carousel .slick-dots li.slick-active button:before {
  background: var(--purple);
  border-color: var(--purple);
}

.future-employees-carousel .slick-track {
  display: flex;
  justify-content: center;
}

.future-employees-carousel .slick-list {
  margin: 0 -12px;
  padding-left: 0 !important;
  /* padding-right: 122px !important; */
}

.future-employees-carousel .slick-slide {
  height: inherit;
  padding: 0 12px;
}

.future-employees-carousel .slick-slide > div {
  height: 100%;
}

@media(max-width:1024px){
.future-employees-carousel .slick-list { margin: 0 -7px; }
.future-employees-carousel .slick-slide { padding: 0 7px; }
.future-employees-carousel .slick-dots { padding-top: 45px; }
}

@media(max-width:767px){
.future-employees-carousel .slick-dots { padding-top: 30px; }
}
/* future-employees-carousel */

/* your-team-carousel */
.your-team-carousel {
  opacity: 0;
}

.your-team-carousel.slick-initialized {
  opacity: 1;
}

.your-team-carousel .slick-dots {
  display: block;
  margin: 15px 0 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.your-team-carousel .slick-dots li {
  display: inline-block;
  margin: 5px;
  padding: 0;
  list-style: none;
}

.your-team-carousel .slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.your-team-carousel .slick-dots li button:before {
  position: relative;
  content: "";
  width: 10px;
  height: 10px;
  border: 1px solid var(--titan-white400);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.your-team-carousel .slick-dots li.slick-active button {
  border-color: var(--purple);
}

.your-team-carousel .slick-dots li.slick-active button:before {
  background: var(--purple);
  border-color: var(--purple);
}

.your-team-carousel .slick-track {
  display: flex;
  justify-content: center;
}

.your-team-carousel .slick-list {
  margin: 0 -12px;
}

.your-team-carousel .slick-slide {
  height: inherit;
}

.your-team-carousel .slick-slide > div {
  height: 100%;
}
/* your-team-carousel */

/* audio wave animation */
.waveform span {
  width: 4px;
  height: 10px;
  animation-play-state: paused;
  animation: wave 1.2s infinite ease-in-out;
  -webkit-animation: wave 1.2s infinite ease-in-out;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.waveform span:nth-child(n) {
  animation-delay: calc(var(--i) * 0.1s);
}

@keyframes wave {
  0%, 100% {
    height: 10px;
  }
  50% {
    height: 30px;
  }
}
/* audio wave animation */